<h2>Chat</h2>

<p><%= @other_profile.name %></p>


<script type="text/javascript">
  window.chatController = new ChatController({
    backend: <%= @chat_state.backend_url.inspect.html_safe %>,
    key: <%= @chat_state.join_key_for(current_user).inspect.html_safe %>,
    closeUrl: <%= session_url.inspect.html_safe %>
  });
</script>

