<h2><%= @profile.name %></h2>

<ul>
  <li>
    <span>
      Facebook
    </span>
    <span>
      <% if @profile.has_facebook %>
        connected
      <% else %>
        <%= link_to 'Connect', profile_add_facebook_path, class: :button,
                               method: :put %>
      <% end %>
    </span>
  </li>
  <li>
    <span>
      LinkedIn
    </span>
    <span>
      <% if @profile.has_linkedin %>
        connected
      <% else %>
        <%= link_to 'Connect', profile_add_linkedin_path, class: :button,
                               method: :put %>
      <% end %>
    </span>
  </li>
<ul>

