<h2><%= @profile.name %></h2>

<ul>
  <li>
    <span>
      Facebook
    </span>
    <span>
      connected
    </span>
  </li>
  <li>
    <span>
      LinkedIn
    </span>
    <span>
      <button>connect</button>
    </span>
  </li>
<ul>

