<div class="row">
  <div class="large-12 columns">

    <!-- Navigation -->

      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                ProMeet
              </a>
            </h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul style="width: 150px" class="right">
            <span style="padding: 0px">
            <li><%= link_to 'Register', new_user_path %></li>
          </span>
          <span style="width: 60px">
            <li><%= link_to 'Login', new_session_path %></li>
          </span>
          </ul>

        </section>
      </nav>

    <!-- End Navigation -->

    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">

    <!-- Desktop Slider -->

      <div class="hide-for-small">
        <div id="featured" data-orbit>
              <%= image_tag 'case1.png' %>
              <%= image_tag 'case2.png' %>
          </div>
        </div>

    <!-- End Desktop Slider -->
    </div>
  </div><br>


  <div class="row">
    <div class="large-12 columns">
      <div class="row">


      </div>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-8 columns">
          <div class="panel radius">
          <div class="row">
          <div class="large-6 small-6 columns">
            <h4>Talk professionally</h4><hr/>
            <h5 class="subheader">Talk with professionals.</h5>
	    <h5 class="subheader">Exchange knowledge.</h5>

          </div>
          <div class="large-6 small-6 columns">

            <p>Expand your world.</p>
	    <p>Enrich your knowledge.</p>
	    <p>Be more prepared.</p>
        </div>

        </div>
        </div>
        </div>

        <div class="large-4 columns">

          <h4>Start the Journey</h4><hr/>

          <a class="radius button" href="actions/apply.html" style="margin: 0 0 1em 0 !important; width: 240px">
            Sign In with LinkedIn
          </a>

          <a class="radius button" href="#" style="width: 240px">
            Sign In with Facebook
          </a>

        </div>

    <!-- End Content -->

      </div>
    </div>
  </div>

    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013. The Hack.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
             <li><a href="./aboutus.html">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#featured').orbit({ fluid: '2x1' });
    });
  </script>
  <!-- End Footer -->